<!DOCTYPE html>
<!--
This is Jobster web app.

-->
<html>
    <head>
        <title>Jobster</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <script>
          
        </script>
        <h1>{{pageTitle}}</h1>
        <div>Welcome to student page.</div>

        <footer>Copyright {{currentYear}}</footer>
    </body>


</html>
